* {
    background-color: #000039;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

h1 {
    color: #f0efef;
}

h2 {
    color: #f0efef;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}